<h1>Application for: <%= @application.name %>, ID:<%= @application.id %></h1>

<h3>Pet Adoption Interests</h3>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
  <%= pet.id %>
  <%= pet.name %>
  <% pet.adoptable %>
  <% if pet.adoptable == true || pet.adoptable.nil? %>
<%= button_to "Approve This Pet", "/admin/applications/#{@application.id}", method: :patch, params: {pet_id: pet.id, adoptable: false} %>
  <% else %>
  <p>This pet has been approved</p>
  <% end %>
  </section>
  <% end %>
